/* Ionic CSS Variables - Light Theme */
:root {
  /* Paleta definitiva (basada en Login) */
  --color-yellow: #FFD54F;
  --color-orange: #FF6B35;
  --color-input-bg: #FFF8E1;
  --color-text-main: #333333;
  --color-text-secondary: #666666;
  --color-white: #FFFFFF;
  --color-dark-brown: #5d4037;
  --color-cream: #fdf5d6;

  --ion-color-primary: var(--color-orange);
  --ion-color-secondary: var(--color-yellow);
}
